@page "/Add Classifier"

@inject Data.ClassifierService classifierService
@inject NavigationManager NavigationManager;

<h3>Add Classifier</h3>
<hr />

<form id="form1">
    <div class="form-group row">
        <label for="reportingtype" class="col-sm-2 col-form-label">Reporting Type</label><br>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="reportingtype" @bind="classifier.ReportingType" />
        </div>
    </div>

    <div class="form-group row">
        <label for="reporttype" class="col-sm-2 col-form-label">Report Type</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="reporttype" @bind="classifier.ReportType" />
        </div>
    </div>

    <div class="form-group row">
        <label for="reportingmethod" class="col-sm-2 col-form-label">Reporting Method</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="reportingmethod" @bind="classifier.ReportingMethod" />
        </div>
    </div>

    <div class="form-group row">
        <label for="institutiontype" class="col-sm-2 col-form-label">Institution Type</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="institutiontype" @bind="classifier.InstitutionType" />
        </div>
    </div>

    <div class="form-group row">
        <label for="susartype" class="col-sm-2 col-form-label">Susar Type</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="susartype" @bind="classifier.SusarType" />
        </div>
    </div>

    <div class="form-group row">
        <label for="caseorigin" class="col-sm-2 col-form-label">Case Origin</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="caseorigin" @bind="classifier.CaseOrigin" />
        </div>
    </div>

    <div class="form-group row">
        <label for="investigationalproducttype" class="col-sm-2 col-form-label">Investigational Product Type</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="investigationalproducttype" @bind="classifier.InvestigationalProductType" />
        </div>
    </div>

    <label></label>
    <div class="col-md-12 text-center">
        <button type="button" class="btn btn-primary btn-lg btn-block" @onclick="CreateClassifier">Save</button>
    </div>

</form>


@code {
    Entities.Classifier classifier = new Entities.Classifier();

    protected async void CreateClassifier()
    {
        await classifierService.InsertClassifierAsync(classifier);
        NavigationManager.NavigateTo("Classifiers List");
    }
    void Cancel()
    {
        NavigationManager.NavigateTo("Classifiers List");
    }
}
