@page "/{Country}/Institution/Add" 

@using Clinical_Trials_Adverse_Events_Reporting_System.Data
@using Clinical_Trials_Adverse_Events_Reporting_System.Entities

@inject InstitutionRepository institutionRepository
@inject IClassifierRepository<InvestigationalProductType> investigationalProductTypeRepository
@inject IClassifierRepository<InstitutionType> institutionTypeRepository
@inject CountryRepository countryRepository 
@inject NavigationManager NavigationManager

<form>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Institution Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" @bind="institution.Name" />
        </div>
    </div>

   
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Institution Type</label>
        <div class="col-sm-10">
            <select class="form-control" @bind="institutionTypeId">
                <option selected>Choose</option>
                @if (institutionTypes != null)
                {
                    @foreach (var institutionType in institutionTypes)
                    {
                        <option value="@institutionType.Id">@institutionType.Name</option>
                    }
                }
           </select>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Address</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" @bind="institution.Address" />
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Phone</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" @bind="institution.Phone" />
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Fax</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" @bind="institution.Fax" />
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" @bind="institution.Email" />
        </div>
    </div>


    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Alternate Address</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" @bind="institution.AlternateAddress" />
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Alternate Phone</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" @bind="institution.AlternatePhone" />
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Alternate Fax</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" @bind="institution.AlternateFax" />
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Alternate Email</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" @bind="institution.AlternateEmail" />
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">City</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" @bind="institution.City" />
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Registration Number</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" @bind="institution.RegNo" />
        </div>
    </div>



    <div class="col-md-12 text-center">
        <button type="button" class="btn btn-primary btn-lg btn-block" @onclick="AddInstitution">Create</button>
    </div>

    <div class="col-md-12 text-center">
        <button type="button" class="btn btn-danger btn-lg btn-block" @onclick="Cancel">Cancel</button>
    </div>
</form>

@code { //TODO ADD VALIDATION
    [Parameter]
    public string Country { get; set; }

    public int institutionTypeId { get; set; }

    Institution institution = new Institution();
    List<InstitutionType> institutionTypes;

    protected override async Task OnInitializedAsync()
    {
        institutionTypes = await Task.Run(() => institutionTypeRepository.GetAll());

    }

    protected async void AddInstitution()
    {
        institution.Country = await countryRepository.GetByName(Country);
        institution.InstitutionType = await institutionTypeRepository.GetById(institutionTypeId);
        institution.Created = DateTime.UtcNow;
        institution.Modified = DateTime.UtcNow;
        await institutionRepository.Create(institution);
        NavigationManager.NavigateTo("");
    }

    private void Cancel()
    {
        NavigationManager.NavigateTo("");
    }
}
