<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Clinical Trials Adverse Events Reporting System</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/Classifiers/ReportingType/Index">
                <span class="oi oi-home" aria-hidden="true"></span> Reporting Type
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/Classifiers/ReportType/Index">
                <span class="oi oi-home" aria-hidden="true"></span> Report Type
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/Classifiers/ReportingMethod/Index">
                <span class="oi oi-home" aria-hidden="true"></span> Reporting Method
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/Classifiers/InstitutionType/Index">
                <span class="oi oi-home" aria-hidden="true"></span> Institution Type
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/Classifiers/SusarType/Index">
                <span class="oi oi-home" aria-hidden="true"></span> Susar Type
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/Classifiers/CaseOrigin/Index">
                <span class="oi oi-home" aria-hidden="true"></span> Case Origin
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/Classifiers/InvestigationalProductType/Index">
                <span class="oi oi-home" aria-hidden="true"></span> Investigational Product Type
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
